name: Build and push image to dockerhub

on:
  push:
    branches:
      - main
    paths:
      - 'server/**'

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      
      - name: build image
        run: docker build ./server -t bramlak/origoss-task-server:latest
        
      - name: push to dockerhub
        run: |
          docker login -u bramlak -p ${{secret.DOCKER_HUB_TOKEN}}
          docker push bramlak/origoss-task-server:latest
